<h2>Add more vehicles</h2>
<div class="pull-right">
  <%= link_to "Back", vehicles_path%>
</div><br/>

<%= form_tag more_vehicles_path do %>
  <div class="well well-sm">
    <!-- Table -->
    <table class="table">
      <tr>
        <th>Type</th>
        <th>Occupants</th>
        <th>Payload weight</th>
        <th>Vehicle identifier</th>
        <th>Details</th>
        <th>Select</th>
        <th></th>
      </tr>

      <% @vehicles.each do |vehicle| %>  
        <tr>
          <% unless current_user.admin?%>
            <td><%= vehicle.vehicle_type %></td>
            <% if vehicle.vehicle_type == "Shuttle"%>
              <td><%= vehicle.occupants %></td>
            <% else%>
              <td>NA</td>
            <% end %>
            <% if vehicle.vehicle_type == "Satellite"%>
              <td><%= vehicle.payload_weight %></td>
            <% else%>
              <td>NA</td>
            <% end %> 
            <td><%= vehicle.v_identifier %></td>  
            <td><%= link_to 'Show', vehicle %></td>
            <td><%= check_box_tag("check#{vehicle.id}", value = "#{vehicle.id}", checked = false )%>
            </td>
            <td><%= hidden_field_tag 'user_id', current_user.id %></td><br/> 
          <% end %>
        </tr>
      <% end %>
    </table><br/>
  </div>
  <div class="pull-right">
    <%= submit_tag "Add"%>
  </div><br/><br/>
<% end %>
