<div class="container">	
	<% if user_signed_in? %>
		<div>
	   	<% if !flash[:notice].blank? %>
	    	<div class="alert alert-success" id="test">
	      	Signed In Successfully
	    	</div>
    	<%end%>
  	</div>
	  <% unless current_user.admin? %>
	    <h2>Welcome <%=current_user.user_detail.first_name.capitalize%></h2>
	  <% else %>	
	    <h2>Welcome Admin</h2>
	  <% end%>
    <div class="well well-lg">
      <ul class="nav nav-pills nav-stacked">
  			<li class="active">
    			<%= link_to 'Admin Options', root_path if current_user.admin? %>
    			<%= link_to 'User Options', root_path unless current_user.admin? %>
  			</li>
			</ul>

    	<div class="panel-body"> 
				<% if current_user.try(:admin?) %>
					<ul class="nav nav-pills nav-stacked ">
				  	<li> <%= link_to 'Users', users_path %> </li>
				  	<li> <%= link_to 'Vehicles', vehicles_path %> </li>
				  	<li> <%= link_to 'Vechicle types', vehicle_types_path %> </li>
				  	<li> <%= link_to 'Engines', engines_path %> </li>
				  	<li> <%= link_to 'Fuels', fuels_path %> </li>
				  	<li> <%= link_to 'Vehicle Constructions', constructions_path %> </li>
				  	<li> <%= link_to 'Admin Settings', admin_settings_users_path %> </li>
				  </ul>	
				<% elsif current_user %>
				  <ul class="nav nav-pills nav-stacked ">  	
				  	<li> <%= link_to 'Vehicles', vehicles_path %> </li>
				  	<li> <%= link_to 'Profile', current_user%> </li>
				  </ul>	
				<% end %>
			</div>	
		</div>
	<% end %>
</div>	